
<% if @user.errors %>
    <% @user.errors.full_messages.each do |error| %>
    <center><div class="alert alert-danger"><%= error %></div></center>
    <% end %>
<% end %>

<center> <h2 class="make_account"> Create Account </h2> </center>


<%= form_for @user, html: {class: "form"} do |f| %>
  <%= f.label :name, "Username:" %>
  <%= f.text_field :name, class: "form-control", id: 'exampleInputEmail1', placeholder: 'Username'%>
  <br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Password' %>
  <br>
  <%= f.submit "Create Account", class: 'btn btn-success' %>
<% end %>
