<center> <h2 class="make_account"> Create Account </h2> </center>

<% if @user.errors %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>



<%= form_for @user, html: {class: "login_form"} do |f| %>
  <%= f.label :name, "Username:" %>
  <%= f.text_field :name, class: "form-control", id: 'exampleInputEmail1', placeholder: 'Username'%>
  <br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Password' %>
  <br>
  <%= f.submit "Create Account", class: 'btn btn-success' %>
<% end %>
