<h2> Create Account </h2>

<% if @user.errors %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Create Account" %>
<% end %>
