<div class= "header">


    <div class= "welcome">  <%= link_to "NOZAMA", greetings_path %>
        <%if session[:user_id]%>
                <%= button_to "Logout", logout_path, method: 'get', form_class: "profile" %> 
                <%= button_to "Profile", user_path(session[:user_id]), method: 'get', form_class: "profile"%>
        <%else%>
                <%= button_to "Create Account", new_user_path, method: 'get', form_class: "profile" %>
                <%= button_to "Login", login_path, method: 'get', form_class: "profile" %>
        <%end%>
    </div>
    <div class= "nav-buttons">
        <%= button_to "See All Items", items_path, method: 'get', form_class: "navbar" %>
        <%  if session[:user_id]%>
            <%= button_to "My Orders", orders_path, method: 'get', form_class: "navbar"%>
        <% end %>
        <!-- <%= button_to "Wishlists", orders_path, method: 'get', form_class: "navbar" %> -->
    </div>

    <div class= "search">
        <%= form_tag(items_path, method: :get) do %>
        <%= select_tag :category, options_from_collection_for_select(Category.all, "id", "name"),  include_blank: "All Categories" %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
        <% end %>
    </div>

</div>
