<h1> Products </h1>
<%if @categories.count > 1%>
  <ul class="All_Categories">
    <% @categories.each do |category|%>
      <h3> <%= category.name.titleize %></h3>
        <% @items.each do |item|%>
          <%if item.category_id == category.id%>
          <li><%= link_to item.name, item_path(item.id) %> <%= number_to_currency(item.price) %></li>
          <%end%>
      <%end%>
    <%end%>
  </ul>
<%else%>
  <ul class="One_Category">
    <% @categories.each do |category|%>
    <h3> <%= category.name.titleize %></h3>
      <% @items.each do |item|%>
        <%if item.category_id == category.id%>
        <li><%= link_to item.name, item_path(item.id) %> Price: <%= item.price %> </li>
        <%end%>
      <%end%>
    <%end%>
  </ul>
<%end%>
