<% if flash[:message] %>
 <center> 
    <div class="alert alert-danger"> 
        <%= flash[:message]%>
    </div> 
</center>
<%end%>
<div class="form", id="wishlist-form">
    <h2 class= "wishlist-title"><%= @wishlist.name.titleize %></h2>

    <ul class="wishlist-ul">
        <% @wishlist.items.each do |item| %>
            <li class="items-on-wishlist">
                <%= link_to item.name, item_path(item)%> 
                <%=button_to "Add to order", add_order_path(item.id), method: "post", class: "btn btn-outline-success btn-sm"%> 
                <%= button_to "Remove", remove_item_from_wishlist_path(@wishlist.id), method: "delete", params:{item: item.id}, class: "btn btn-outline-danger btn-sm"%> 
            </li>
        <% end %>
    </ul>

    <%= %>

    <%= button_to "Delete Wishlist", wishlist_path(@wishlist.id), method: "delete", 
                        data: {:confirm => "Are you sure you want to delete this list?"}, class: "btn btn-outline-secondary", id: "delete-wishlist"%>
</div>